.nav{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  padding: 20px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  z-index: 1;
}

.nav__black{
  background-color: #111;
}


.nav__logo{
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
  height: 35px;
  width: 80px;

}

.nav__avatar{
  width: 30px;
  height: 50px;
  position: fixed;
  right: 20px;
  object-fit: contain;
}

img:hover {
  cursor: pointer;
}
